{
  "openapi": "3.0.0",
  "info": {
    "title": "Boru Consulting API",
    "description": "Access to Boru Consulting's insights, services, and contact information",
    "version": "1.0.0",
    "contact": {
      "name": "Boru Consulting Group",
      "url": "https://www.boruconsulting.com",
      "email": "info@boruconsulting.com"
    }
  },
  "servers": [
    {
      "url": "https://www.boruconsulting.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/blog": {
      "get": {
        "operationId": "getBlogArticles",
        "summary": "Get all blog articles",
        "description": "Returns a list of all published insights and analysis articles",
        "responses": {
          "200": {
            "description": "List of blog articles",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/blog/{slug}": {
      "get": {
        "operationId": "getBlogArticle",
        "summary": "Get a specific blog article",
        "description": "Returns a single blog article by its slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "uae-corporate-tax-regime-strategic-implications",
                "uk-holding-company-post-brexit-analysis",
                "operational-resilience-risk-governance"
              ]
            },
            "description": "The article slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog article content",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/ai-metadata.json": {
      "get": {
        "operationId": "getMetadata",
        "summary": "Get structured metadata",
        "description": "Returns comprehensive metadata about Boru Consulting in JSON-LD format",
        "responses": {
          "200": {
            "description": "Structured metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/rss.xml": {
      "get": {
        "operationId": "getRSSFeed",
        "summary": "Get RSS feed",
        "description": "Returns RSS feed of all blog articles",
        "responses": {
          "200": {
            "description": "RSS feed",
            "content": {
              "application/rss+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Article": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Article title"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly identifier"
          },
          "excerpt": {
            "type": "string",
            "description": "Brief summary"
          },
          "category": {
            "type": "string",
            "description": "Article category"
          },
          "date": {
            "type": "string",
            "description": "Publication date"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Article keywords"
          }
        }
      }
    }
  }
}
